$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.logo {
	margin-left:60px;
	float:left;
	.subtitle {
		font-size:10px;
	}
}

.filter {
	border-bottom: 1px solid #337ab7;
	padding-bottom: 20px;
	margin-bottom: 30px;

	button {
		padding: 0 10px 0 0;
		background-color: transparent;
		border: none;
	}
}

.portfolio-items {
	p {
		font-size: 1.1em;
	}
	
	img {
		margin:10px 0 10px 0;
		width:100%;
	}
}